// Colors
$bg-color: #1e2326;
$bg-secundary-color: #252a2e;
$font-primary-color: #1cb698;
$font-secondary-color: #fff;

// Index
$header-index: 20;

//fonts
$principal-font: "Righteous", sans-serif;

// Breakpoints
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
